<div class="container-fluid">
    <div style="display:block">
        <form [formGroup]="appValForm" class="form-horizontal">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-sm-12 col-md-12 col-12">
                    <div class="col-sm-12 col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="day">Day</label>
                            <input type="text" class="form-control" placeholder="Enter Day" formControlName="day" [ngClass]="{ 'is-invalid':submitted &&  f.day.errors }">
                            <span class="text-danger" *ngIf=" submitted && f.gridient.errors?.required">Please Enter Day</span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="pwd">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title" formControlName="title" [ngClass]="{ 'is-invalid':submitted &&  f.title.errors }">
                            <span class="text-danger" *ngIf=" submitted && f.gridient.errors?.required">Please Enter Title</span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="pwd">Direction</label>
                            <input type="text" class="form-control" placeholder="Enter Direction" formControlName="direction" [ngClass]="{ 'is-invalid':submitted &&  f.direction.errors }">
                            <span class="text-danger" *ngIf=" submitted && f.gridient.errors?.required">Please Enter Direction</span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-lg-6">
                        <div class="form-group">
                            <label class="control-label" for="pwd">Gridient</label>
                            <ngx-chip-select formControlName="gridient" [ngClass]="{ 'is-invalid':submitted &&  f.gridient.errors }" style="background-color:white">

                            </ngx-chip-select>
                            <span class="text-danger" *ngIf=" submitted && f.gridient.errors?.required">please Enter ingridient</span>

                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-lg-6">
                        <button type="button" class="btn btn-danger" style="margin:10px 0px" (click)="submitt()">Submit</button>
                    </div>
                </div>

                <span class="text-danger" *ngIf="messageShow">Record Successfully Saved</span>

            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="card shadow mb-4">
                <div class="card-header bg-primary">
                    <h6 class="text-white fa-pull-left m-0 font-weight-bold">Menu List</h6>
                    <div class="fa-pull-right d-flex align-items-center">
                        <!--(click)="showModal(content)"-->
                        <!--<div class="g-pagination">
                          <div class="data-count">
                            <span class="text-white">{{recoardNoFrom}}-{{recoardNoTo}} of {{totalRecoards}}</span>
                            <div class="newOrOld-Data">
                              <ul>
                                <li><a (click)="LoadNewestRecoards()"> Newest</a></li>
                                <li><a (click)="LoadOldestRecoards()">Oldest</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="indicators text-white">
                            <i class="fa fa-angle-left" (click)="PriviousClick()"></i>
                            <i class="fa fa-angle-right" (click)="NextClick()"></i>
                          </div>
                        </div>-->

                    </div>
                </div>
                <div class="card-body">
                    <!--<div class="show_entries">
                      <div class="no-of-entries">
                        <label>No of Entries</label>
                        <select (change)="changePageSize()" [(ngModel)]="pageSize">
                          <option value="50" selected>50</option>
                          <option value="100">100</option>
                        </select>
                      </div>
                      <div class="n0-of-pages">
                        <label>No of Pages</label>
                        <select class="" [(ngModel)]="pageNumber" (change)="clickchange()">
                          <option *ngFor="let item of pageing1" value="{{item}}">{{item}} </option>
                        </select>
                      </div>
                    </div>-->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th width="1%">ID</th>
                                    <th width="5%">Days</th>
                                    <th width="15%">Menu Title</th>
                                    <th width="20%">Direction</th>
                                    <th width="40%">Ingredient</th>
                                    <th width="2%">Edit</th>
                                    <!--<th title="Delete" width="2%">Del</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list  of menueList; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{list.day}}</td>
                                    <td>{{list.title}}</td>
                                    <td>{{list.direction}}</td>
                                    <td><span *ngFor="let item of list.inGridient" style="    padding: 7px 10px;background-color: #fe7c96;margin-right: 5px;color:white;font-weight:600;text-transform:capitalize;font-size:11px">{{item}}</span></td>
                                    <td><i class="mdi mdi-table-edit" (click)="updateMenu(list)"></i></td>
                                    <!--<td><i class="mdi mdi-delete"></i></td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="card-body" style="padding:0px !important">
                      <div class="show_entries">
                        <div class="no-of-entries">
                          <label>No of Entries</label>
                          <select (change)="changePageSize()" [(ngModel)]="pageSize">
                            <option value="50" selected>50</option>
                            <option value="100">100</option>
                          </select>
                        </div>
                        <div class="n0-of-pages">
                          <label>No of Pages</label>
                          <select class="" [(ngModel)]="pageNumber" (change)="clickchange()">
                            <option *ngFor="let item of pageing1" value="{{item}}">{{item}} </option>
                          </select>
                        </div>
                      </div>
                    </div>-->
                    <!--<div class="card-header justify-header">
                      <h6 class="m-0 font-weight-bold">Package List</h6>
                      <div class="g-pagination">
                        <div class="data-count">
                          <span>{{recoardNoFrom}}-{{recoardNoTo}} of {{totalRecoards}}</span>
                          <div class="newOrOld-Data">
                            <ul>
                              <li><a (click)="LoadNewestRecoards()"> Newest</a></li>
                              <li><a (click)="LoadOldestRecoards()">Oldest</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="indicators">
                          <i class="fa fa-angle-left" (click)="PriviousClick()"></i>
                          <i class="fa fa-angle-right" (click)="NextClick()"></i>
                        </div>
                      </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
